<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="">
          SITEMAP
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="">
          PRODUCT
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href=""> HELP</a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href=""> SUBSCRIBE</a>
      </li>
    </ul>
  </div>
</footer>
<div style="height: 150px; background: white;">

</div>
