.fingerprintreportHolder{background: #fff; color:#211f1f !important;}
.eachGraph {border: 1px solid #ccc; margin: 1px; color:#fff; padding:15px 0px; fill: #fff;}
.gauge-chart div{color: #fff; background: #211f1f !important;}
.logSection{border-bottom: 1px solid #ccc}
.logSection img{width:180px;}
.custBtn {
    margin-right: 10px;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    font-size: initial;
    margin-bottom: 25px
}
thead{background: #000; color:#fff;}
th{font-weight: normal;}
.custrecommendation li{list-style: none;}
.footerCustom{background: #000; color:#fff; position: absolute; bottom: 0; font-size: 12px;}
.fingerPrintHeader{background: #000 !important; color:#fff; font-weight: normal; font-size: 14px; padding: 0px 20px;}

.table > tbody > tr > td{border: 1px solid #ccc !important; padding: 8px 10px;}
.table > tbody > tr > td{color: #211f1f !important}

h5, h4, h3, ul li{color:#211f1f;}
