
<div class=" content">
  <div>
    <ul class=" navbar-nav">
      <li><a href=""><i class="fa fa-print"></i>Print</a></li>
      <li><a href=""><i class="fa fa-bell"></i>Alert</a></li>
      <li><a href=""><i class="fa fa-list-alt"></i>My Report</a></li>
      <li><a href=""><i class="fa fa-share-alt"></i>Share</a></li>
      <li><a href=""><i class="fa fa-history"></i>Refresh</a></li>
    </ul>
  </div>
  <mat-tab-group>
    <mat-tab label="Section 1">
      <ng-template matTabContent style="overflow:hidden;">
        <section1></section1>
      </ng-template>
    </mat-tab>
    <mat-tab label="Section 2">
      <ng-template matTabContent>
        <h1>Not Ready Yet</h1>
        <p>...</p>
      </ng-template>
    </mat-tab>
    <mat-tab label="Section 3">
      <ng-template matTabContent>
        <h1>Not Ready Yet</h1>
        <p>...</p>
      </ng-template>
    </mat-tab>
    <mat-tab label="Section 4">
      <ng-template matTabContent>
        <h1>Not Ready Yet</h1>
        <p>...</p>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
