
.navbar-nav {
    color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.navbar-nav li {
    margin-left: 0px;
}

.navbar-nav li a {
    color: #1D253B;
    font-size: 12px;
}

.navbar-nav li i {
    margin-right: 5px;
}

::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}