<div mat-dialog-title>
  <div class="row">
      <h6 class="col-10 matTitleName">Please provide the below information to receieve the report with recommendations</h6>
      <div class="col-2 text-right">
          <i class="fa fa-times close-icon" aria-hidden="true" (click)="closeDialog()" matTooltip="Close"></i>
      </div>
  </div>
  <mat-divider></mat-divider>
</div>
<mat-dialog-content class="mat-typogaphy">
  <div class="col-12">
      <form #downloadForm="ngForm" (ngSubmit)="downloadForm.form.valid">
    <mat-form-field class="example-full-width col-12">
      <input matInput type="text" placeholder="First Name" name="firstName" [(ngModel)]="formData.firstName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width col-12">
      <input matInput type="text" placeholder="Last Name" name="lastName" [(ngModel)]="formData.lastName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width col-12">
      <input matInput type="text" placeholder="Company" name="company" [(ngModel)]="formData.company" required>
    </mat-form-field>
    <mat-form-field class="example-full-width col-12">
      <input matInput type="text" placeholder="Designation" name="designation" [(ngModel)]="formData.designation" required>
    </mat-form-field>
    <mat-form-field class="example-full-width col-12">
      <input matInput type="email" placeholder="Work Email" name="email" [(ngModel)]="formData.email" required>
    </mat-form-field>
          <!--<div class="form-group">
              <label for="exampleInputPassword1">First Name:</label>
              <input type="text" class="form-control"
                     id="nameInput" placeholder="First Name" name="firstName" [(ngModel)]="formData.firstName" required/>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Last Name:</label>
              <input type="text" class="form-control"
                     id="nameInput" placeholder="Last Name" name="lastName" [(ngModel)]="formData.lastName" required/>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Company:</label>
              <input type="text" class="form-control"
                     id="nameInput" placeholder="Company" name="company" [(ngModel)]="formData.company" required/>
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Designation:</label>
              <input type="text" class="form-control"
                     id="nameInput" placeholder="Job Function" name="designation" [(ngModel)]="formData.designation" required/>
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Work Email:</label>
              <input type="email" class="form-control"
                     id="exampleInputEmail1" placeholder="Work Email" name="email" [(ngModel)]="formData.email" required/>
          </div>-->
          <div class="popUpButton">
              <button mat-flat-button class="custBtn" color="primary" [disabled]="!downloadForm.form.valid" (click)="sendDownloadData(downloadForm)">Submit</button>
          </div>
      </form>
  </div>
</mat-dialog-content>
